<h1>Import Prices</h1>



<%= form_with(url: admin_import_path, method: :post, local: true, enctype: "multipart/form-data") do |f| %>
  <%= f.file_field :file %>  <!-- File input for the Excel file -->
  <%= f.submit "Upload" %>
<% end %>
