<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Search Prices", prices_path, class: "nav-link" %>
          <%# <a class="nav-link active" aria-current="page" href="#">Home</a> %>
        </li>
        <li class="nav-item">
          <%= link_to "Import Prices", admin_import_path, class: "nav-link" %>
          <%# <a class="nav-link" href="#admin/import">Import Files</a> %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.modesty.com.tw" target="_blank">Modesty</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
